---
layout: default
featured:
 - icon: fas fa-cloud
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus aliquam explicabo quis incidunt consequatur eveniet quas numquam saepe provident perferendis dolores officia nam dolorum repellat quod fugit a! Maxime.
 - icon: fas fa-apple-alt
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus aliquam explicabo quis incidunt consequatur eveniet quas numquam saepe provident perferendis dolores officia nam dolorum repellat quod fugit a! Maxime.
 - icon: fas fa-carrot
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus aliquam explicabo quis incidunt consequatur eveniet quas numquam saepe provident perferendis dolores officia nam dolorum repellat quod fugit a! Maxime.
 - icon: fas fa-pizza-slice
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, delectus aliquam explicabo quis incidunt consequatur eveniet quas numquam saepe provident perferendis dolores officia nam dolorum repellat quod fugit a! Maxime.
---
    
    <!-- Header banner -->
    <header class="header-banner padded grid text-center tall-90 md-tall-80">
     
      {% include header-nav.html %}
      
      <div class="col-12">
        <h3 class="font-weight-extra-bold" data-aos="fade-in" data-aos-duration="1000">
          <span class="featured-text">sleep</span> like a baby
        </h3>
        <h1 class="font-weight-normal" data-aos="fade-up" data-aos-duration="1000">the ultimate mattress solution</h1>
      </div>
    </header>

    <!-- Image section -->
    <section class="grid">
      <div class="padded col-6_xs-12-middle tall-60 sm-tall-50">
        <h2>built to last a <span class="featured-text">lifetime</span></h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          omnis debitis aut non adipisci, commodi cum possimus voluptatibus,
          molestias nobis quod veniam exercitationem dolore. Doloremque quis
          quas minima dolorem repudiandae.
        </p>
      </div>
      <!-- background image bed -->
      <div
        class="bg-image bg-lamp col-6_xs-12 tall-60 hide-xs sm-tall-50"
      ></div>
      <!-- background image dog -->
      <div class="bg-image bg-dog col-6_xs-12 tall-60 sm-tall-50"></div>
      <div class="padded col-6_xs-12-middle tall-60 sm-tall-50">
        <h2>so <span class="featured-text">soft</span> you'll melt</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, porro!
          Recusandae quia, accusamus laboriosam ad explicabo nobis iure expedita
          voluptate! Suscipit aliquam consequuntur amet? Est porro perspiciatis
          dicta fugit dolorem!
        </p>
      </div>
    </section>

    <!-- Features section -->
    <section class="padded grid-center bg-dark tall-50">
      <div class="padded-sm col-12 text-center">
        <h2><span class="featured-text">features</span> you will love</h2>
      </div>

      {% for item in page.featured %}

      <div class="padded-sm col-3_sm-6 xxs-stack">
        <i class="{{item.icon}}"></i>
        <p> {{item.description}} </p>
       </div>

      {% endfor %} 

    </section>

    <!-- Sleep section -->
    <section class="grid text-center bg-yellow grid bg-image">
      <div class="col-12-bottom tall-50 sleep-section">
        <h3 class="big-text font-weight-extra-bold">
          <span class="small-text font-weight-normal"
            >never underestimate the power of</span
          >
          <br />a good night <span class="featured-text-white">sleep</span>
        </h3>
      </div>
    </section>

<!-- Testimonial Section -->

    {% include testimonial.html %}