---
layout: default
cards:
 - heading: Small Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
   featured_image: /images/the-sleep-co3.jpg
 - heading: Medium Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
   featured_image: /images/the-sleep-co4.jpg
 - heading: Luxury Mattress
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit.
   featured_image: /images/the-sleep-co1.jpg
---

    <!-- Header banner -->
    <header class="header-banner padded grid text-center tall-80">
    
      {% include header-nav.html %}

      <div class="col-12">
        <h3 class="font-weight-extra-bold">
          <span class="featured-text">explore</span> our collection
        </h3>
        <h1 class="font-weight-normal">where dream meets comfort</h1>
      </div>
    </header>

    <!-- Text section -->
    <section class="padded grid bg-dark tall-50">
      <div class="padded-sm col-12 text-center">
        <h2><span class="featured-text">features</span> you will love</h2>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          delectus aliquam explicabo quis incidunt consequatur eveniet quas
          numquam saepe provident perferendis dolores officia nam dolorum
          repellat quod fugit a! Maxime.
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          delectus aliquam explicabo quis incidunt consequatur eveniet quas
          numquam saepe provident perferendis dolores officia nam dolorum
          repellat quod fugit a! Maxime.
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          delectus aliquam explicabo quis incidunt consequatur eveniet quas
          numquam saepe provident perferendis dolores officia nam dolorum
          repellat quod fugit a! Maxime.
        </p>
      </div>
      <div class="padded-sm col-3_sm-6 xxs-stack">
        <h3>little heading</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          delectus aliquam explicabo quis incidunt consequatur eveniet quas
          numquam saepe provident perferendis dolores officia nam dolorum
          repellat quod fugit a! Maxime.
        </p>
      </div>
    </section>

    <!-- Product Card section -->
    <section class="grid-spaceAround padded">

    {% for item in page.cards %}

      <div class="padded-2 col-3_sm-12 tall-70 bg-dark round sm-margin-b-1">
        <div class="card">
          <div class="bg-image col-3 portrait round" style="background-image: url('{{item.featured_image}}')"></div>
          <div class="padded-sm">
            <h3>{{item.heading}}</h3>
            <p>{{item.description}}</p>
          </div>
        </div>
      </div>

    {% endfor %}

    </section>

    <!-- Banner Section -->
    <section class="grid text-center bg-dark padded tall-50">
      <div class="col-12-middle">
        <h3 class="big-text font-weight-extra-bold">
          <span class="small-text font-weight-normal"
            >spend over £150 and activate</span
          >
          <br /><span class="featured-text">free</span> express shipping
        </h3>
      </div>
    </section>

    <!-- Image section -->
    <section class="grid">
      <div class="padded col-6_sm-12-middle tall-50">
        <h2>built to last a <span class="featured-text">lifetime</span></h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          omnis debitis aut non adipisci, commodi cum possimus voluptatibus,
          molestias nobis quod veniam exercitationem dolore. Doloremque quis
          quas minima dolorem repudiandae.
        </p>
      </div>
      <!-- background image bed -->
      <div class="bg-image bg-lamp col-6 hide-sm tall-50"></div>
      <!-- background image dog -->
      <div class="bg-image bg-dog col-6_sm-12 tall-50"></div>
      <div class="padded col-6_sm-12-middle tall-50">
        <h2>so <span class="featured-text">soft</span> you'll melt</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, porro!
          Recusandae quia, accusamus laboriosam ad explicabo nobis iure expedita
          voluptate! Suscipit aliquam consequuntur amet? Est porro perspiciatis
          dicta fugit dolorem!
        </p>
      </div>
      <div class="padded col-6-middle hide-sm tall-50">
        <h2>built to last a <span class="featured-text">lifetime</span></h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
          omnis debitis aut non adipisci, commodi cum possimus voluptatibus,
          molestias nobis quod veniam exercitationem dolore. Doloremque quis
          quas minima dolorem repudiandae.
        </p>
      </div>
      <!-- background image bed -->
      <div class="bg-image bg-lamp col-6 hide-sm tall-50"></div>
    </section>

    