<footer class="padded grid-spaceBetween bg-dark tall-50">  
    <div class="col-4_sm-12-bottom">
    <h2>let's <span class="featured-text">connect</span></h2>
    <p class="sm-padded-b-1">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non,
        consequuntur vel, eaque libero inventore provident doloribus
        praesentium voluptates aut quae iste, fugit nihil eligendi asperiores
        facere. Laboriosam non rem cumque!
    </p>
    </div>
    <div class="col-6_sm-12-bottom">
    <p><strong>Call</strong> <a href="tel:#">04555 5555</a></p>
    <p><strong>Email</strong><a href="mailto:#"> hello@thesleep.co</a></p>
    <p><strong>Store</strong> 55 Main St, Chicago</p>
    <p>
        <strong>Instagram</strong
        ><a href="https://www.instagram/com/thesleepco"> @thesleepco</a>
    </p>
    </div>
</footer>