<div class="col-12-top header-nav grid">
    <div class="col-4_sm-12-middle sm-badded-b-0">
      <a href="/index.html" class="logo text-left">
        <h2>The Sleep <span>Co</span></h2>
      </a>
    </div>
    <nav class="col-8_sm-12-middle text-right nav-bar sm-text-center hide-sm">
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/products.html">Products</a>
      <a href="/contact.html">Contact</a>
    </nav>

  <div class="col-1 show-sm">
    <div class="hamburger-button"></div>
      <i class="fas fa-bars"></i>
  </div>


</div>

<div class="mobile-menu padded">
  <nav>
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/products.html">Products</a>
    <a href="/contact.html">Contact</a>
  </nav>
</div>
