<div class="col-12-top header-nav grid-spaceBetween">
    <div class="col-4_sm-11-middle sm-badded-b-0">
      <a href="/index.html" class="logo text-left">
        <h2>The Sleep <span>Co</span></h2>
      </a>
    </div>
    <nav class="col-7_sm-12-middle text-right nav-bar sm-text-center hide-sm">
      <a href="/index.html">Home</a>
      <a href="/about.html">About</a>
      <a href="/products.html">Products</a>
      <a href="/gallery.html">Gallery</a>
      <a href="/contact.html">Contact</a>
    </nav>

  <div class="col-1 show-sm">
    <div class="hamburger-button">
      <i class="fas fa-bars"></i>
    </div>
  </div>


</div>

<div class="mobile-menu padded bg-featured">
  <nav>
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/products.html">Products</a>
    <a href="/gallery.html">Gallery</a>
    <a href="/contact.html">Contact</a>
  </nav>
</div>
