<!DOCTYPE html>
<html lang="en">

  <head>

    {% include head.html %}

  </head>

  <!---------- This is the website HTML ---------->

  <body>

    <!-- This has cols and font family to be able to use on multiple pages -->
    {% include inline-styles.html %}

    <!-- Header section (this is in the include header-nav which is added to individual pages) -->

    <!-- Main content (this is on individual pages) -->

      {{ content }}


    <!-- Footer section -->

        {% include footer.html %}


    <!-- jQuery & Javascript -->

      {% include body-scripts.html %}

  </body>

</html>
